        .home {
            font-family: "Titan One", sans-serif;
            font-weight: 500;
            font-size: 50px;
            font-style: normal;
        }

        .menu {
            font-family: "Titan One", sans-serif;
            font-weight: 400;
            font-size: 32px;
            font-style: normal;
        }

        .welcome {
            font-family: "Birthstone", cursive;
            font-weight: 400;
            font-size: 9vh;
            font-style: normal;
            color: white;
            animation: change 3s ease-in-out infinite;
        }

        @keyframes change {
            0% {
                color: red;
            }

            25% {
                color: aquamarine;
            }

            50% {
                color: cyan;
            }

            75% {
                color: chartreuse;
            }

            100% {
                color: red;
            }
        }

        .im {
            font-family: "Bowlby One SC", sans-serif;
            font-weight: 400;
            font-size: 9vh;
            font-style: normal;
            color: white;
        }

        .description {
            font-family: "Schoolbell", cursive;
            font-weight: 400;
            font-size: 2.5vh;
            font-style: normal;
            color: white;
        }

        .hero-back {
            background-size: cover;
            background-image: url('developer-coding-in-php.jpg');
        }

        .top-space {
            padding-top: 10vh;
        }

        .bottom-space {
            padding-bottom: 10vh;
        }

        .section1-height {
            height: 10vh;
            width: 100%;
        }

        .section-size {
            height: 100vh;
            width: 100%;
            background-color: rgb(207, 194, 194) !important;
        }

        .hero-back::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 101.5%;
            background: rgba(0, 0, 0, 0.45);
        }

        .introduction {
            position: relative;
            background-color: transparent;
        }

        .download-border {
            border-width: 2px !important;
            border-radius: 50px / 100%;
            color: white;
        }

        .im::after {
            content: "";
            height: 60px;
            width: 7px;
            display: inline-block;
            background-color: white;
            animation: blink 2s steps(1, end) infinite;

        }

        @keyframes blink {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes fade {
            0% {
                color: white;
            }

            100% {
                color: rgb(184, 92, 92);
            }
        }

        .nav-link,
        .navbar-brand {
            color: white;
        }

        .nav-link:hover,
        .navbar-brand:hover {
            animation: fade 0.5s ease-in-out;
            color: rgb(184, 92, 92);
        }

        .intro {
            font-family: "Bowlby One SC", sans-serif;
            font-weight: 400;
            font-size: 6vh;
            font-style: normal;
            color: white;
        }

        #spyNav {
            transition: background-color 0.3s ease;
        }

        .dropdown-back {
            position: fixed !important;
            /* absolute 대신 fixed */
            top: 10vh;
            /* 원하는 화면 Y 위치 */
            left: 5vh;
            background-color: white;
            z-index: 1050;
            /* 다른 요소 위로 */
        }

        .nav-link.scrolled {
            color: rgb(184, 92, 92);
        }

        #nav1,
        #nav2,
        #nav3,
        #nav4,
        #nav5 {
            transition: color 0.5s ease;
        }

        .xmark {
            position: absolute;
            top: -60px;
            right: 10px;
            font-size: 24px;
            background: none;
            border: none;
            cursor: pointer;
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            /* 기본 색 */
            z-index: 1040;
            /* dropdown(1050) 아래 */
            transition: background-color 0.3s ease;
        }

        #dropdown {
            z-index: 1050;
            /* overlay 위 */
        }

        .dropdown-border {
            border-radius: 8%;
        }

        .dropdown-menu .dropdown-item {
            background-color: transparent !important;
            color: #212529;
            /* 원하는 기본 색 */
        }

        .dropdown-menu .dropdown-item:active,
        .dropdown-menu .dropdown-item:focus,
        .dropdown-menu .dropdown-item.active {
            background-color: transparent !important;
        }

        .dropdown-menu .dropdown-item:hover {
            background-color: transparent !important;
            color: rgb(184, 92, 92) !important;
        }

        .section-title {
            font-family: "Rubik Spray Paint", system-ui;
            font-size: 60px;
        }

        .section-subtitle {
            font-family: "Titan One", sans-serif;
            font-size: 30px;
        }

        .section-main {
            font-family: "Roboto Condensed", sans-serif;
            font-size: 20px;
        }

        .timeline {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;
            margin: 4rem 0;
            padding: 0 2rem;
        }

        .timeline::before {
            content: '';
            position: absolute;
            width: 120rem;
            top: 18px;
            left: 3rem;
            right: 0;
            height: 4px;
            background: #000;
        }

        .timeline-startbar {
            position: relative;
            font-size: 40px;
            bottom: 11px;
            left: 0.4rem;
        }

        .timeline-endbar {
            width: 1px;
            height: 30px;
            border: 2px solid #000;
            position: relative;
            top: 5px;
            right: 2.5%;
            border-radius: 25%;
        }

        .timeline-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
        }

        .timeline-marker {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            bottom: 12px;
            z-index: 2;
        }

        .timeline-dot {
            width: 20px;
            height: 20px;
            background: #fff;
            border: 4px solid red;
            border-radius: 50%;
        }

        .timeline-bar {
            width: 1px;
            height: 30px;
            border: 2px solid #000;
            border-radius: 25%;
        }

        .timeline-container {
            margin-top: 0.75rem;
            max-width: 18rem;
        }

        .timeline-date {
            font-family: "Roboto Condensed", sans-serif;
            font-weight: bold;
        }

        .timeline-event {
            font-family: "Roboto Condensed", sans-serif;
            margin-top: 0.25rem;
            font-size: 0.95rem;
        }

        .timeline-title {
            font-family: "Roboto Condensed", sans-serif;
            font-size: 1.2rem;
        }

        .contact-card {
            width: 85%;
            height: 17%;
            background-color: white;
            border: 4px solid#000;
            border-radius: 5%;
        }

        .contact-font {
            font-family: "Lexend", sans-serif;
            font-size: 1.7rem;
            color: #000;
        }

        .contact-box {
            width: 90%;
            height: 17%;
        }

        .contact-message {
            width: 100%;
            height: 100%;
            background-color: white;
            border: 4px solid#000;
            border-radius: 2%;
        }

        .contact-card-sm {
            width: 85%;
            height: 140%;
            background-color: white;
            border: 4px solid#000;
            border-radius: 5%;
        }

        .profile-img {
            max-width: 400px;
            max-height: 500px;
            width: 100%;
            height: auto;
            border-radius: 20%;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            width: 3rem;
            height: 3rem;
        }

        .card {
            border: 2px solid black;
        }